@import "tailwindcss";

@theme {
  --color-luxury-pearl: #FAFAFA;
  --color-luxury-ivory: #FFFFF0;
  --color-luxury-gold: #C5A059;
  --color-luxury-gold-light: #D4B271;
  --color-luxury-beige: #F5F5DC;
  --color-luxury-black: #1C1C1C;

  --font-sans: var(--font-outfit), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

body {
  background-color: var(--color-luxury-pearl);
  color: var(--color-luxury-black);
  font-family: var(--font-sans);
}

/* Custom Selection */
::selection {
  background-color: var(--color-luxury-gold);
  color: #ffffff;
}

/* Hide scrollbar for cleaner look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-luxury-pearl);
}

::-webkit-scrollbar-thumb {
  background: var(--color-luxury-gold);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-luxury-gold-light);
}

/* Lenis Recommended CSS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
